@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: shallota;
    src: url("../src/assets/Fonts/Shallota-Black.ttf");
  }
@font-face {
    font-family: devanagarish;
    src: url("../src/assets/Fonts/devanagarish.ttf");
  }